@import '../../../base/variables.scss';

.not-found {

    .card {
        padding: 100px 10px;
        margin: 200px auto;
        text-align: center;

        .number {
            color: $red;
            font-size: 50px;
            margin-bottom: 10px;
        }

        .title {
            @media screen and (max-width: 768px) {
                font-size: 18px;
            }

            font-size: 30px;
            margin-bottom: 35px;
            color: $main3;
        }

        .link {
            font-size: 16px;
            padding: 10px 25px;
            color: $main3;
            transition: all 0.3s;

            &:hover {
                color: $main1;
            }
        }
    }
}