.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 20px -15px #000;

    .card {
        .right {
            @media screen and (max-width: 1440px) {
                gap: 30px;
            }

            gap: 45px;
            width: 60%;

            .box-logo {
                width: 32px;
                height: 35px;

                .icon {
                    font-size: 35px;
                    display: flex;
                }
            }

            .menu {
                gap: 30px;
                overflow-x: auto;
                white-space: nowrap;
                padding-bottom: 10px;
                padding-left: 2px;
                margin-bottom: -10px;

                &::-webkit-scrollbar-track {
                    padding: 2px 0;
                    background-color: #f6f6f6;
                }

                &::-webkit-scrollbar {
                    width: 1px;
                    height: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #c1c8d5;
                }

                .item {
                    .link {
                        font-size: 15px;
                        color: #3D3C45;
                        transition: all 0.3s;

                        &:hover {
                            color: #ffbf00;
                        }
                    }
                }
            }
        }

        .left {
            gap: 25px;

            .box-search {
                position: relative;

                .btn {
                    border: 0;
                    background: transparent;
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    cursor: pointer;

                    .icon {
                        @media screen and (max-width: 1024px) {
                            display: none;
                        }

                        font-size: 16px;
                        color: #707070;
                    }
                }

                .input-search {
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }

                    background: #F3F7FE;
                    border: 0;
                    padding: 10px 40px 10px 20px;
                    border-radius: 20px;
                    height: 40px;
                    width: 352px;
                    font-size: 14px;
                    color: #707070;
                    transition: all 0.3s;

                    &:focus {
                        box-shadow: 0 0 11px -4px #00000029;
                    }
                }

                .form {
                    position: absolute;
                    top: 35px;
                    right: 0;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 4;
                    transition: all 0.3s;

                    .input-search2 {
                        height: 40px;
                        width: 255px;
                        padding: 10px 20px 10px 40px;
                        border: 0;
                        border-radius: 20px;
                        background: #F3F7FE;
                        color: #707070;
                        font-size: 14px;
                        box-shadow: 0 0 11px -4px #00000029;
                        transition: all 0.3s;
                    }

                    .btnSearch {
                        border: 0;
                        background: transparent;
                        position: absolute;
                        top: 10px;
                        left: 12px;

                        .icon-Left {
                            color: #3D3C45;
                            font-size: 16px;
                            font-weight: bold;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:hover {
                                color: #ffbf00;
                            }
                        }
                    }

                    &.active {
                        top: 30px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .access {
                gap: 24px;

                .link {
                    width: 25px;
                    height: 25px;

                    .icon {
                        font-size: 27px;
                        color: #3D3C45;
                        transition: all 0.3s;

                        &:hover {
                            color: #ffbf00;
                        }
                    }

                    #vector {
                        font-size: 21px;
                    }

                    #card {
                        position: relative;

                        &::after {
                            content: "";
                            width: 7px;
                            height: 7px;
                            border-radius: 50px;
                            display: block;
                            position: absolute;
                            right: -1px;
                            top: 12px;
                            background: #EB4235;
                        }
                    }

                    #search {
                        @media screen and (max-width: 1024px) {
                            display: block;
                        }

                        display: none;
                        font-size: 24px;
                        margin-top: 1px;
                    }
                }
            }

            .user {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50px;
                cursor: pointer;

                .img-user {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}