@import '../../base/variables.scss';

/*------------------Heafer---------------*/

.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $white;
    border: $border;

    .card {
        .right {
            @media screen and (max-width: 1440px) {
                gap: 30px;
            }

            gap: 45px;
            width: 60%;

            .box-logo {
                width: 32px;
                height: 35px;

                .icon {
                    font-size: 35px;
                    display: flex;
                }
            }

            .menu {
                @media screen and (max-width: 768px) {
                    display: none !important;
                }

                gap: 30px;
                overflow-x: auto;
                white-space: nowrap;
                padding-bottom: 10px;
                padding-left: 2px;
                margin-bottom: -10px;

                &::-webkit-scrollbar-track {
                    padding: 2px 0;
                    background-color: #f6f6f6;
                }

                &::-webkit-scrollbar {
                    width: 1px;
                    height: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #c1c8d5;
                }

                .item {
                    .link {
                        font-size: 15px;
                        color: $main3;
                        transition: all 0.3s;

                        &:hover {
                            color: $main1;
                        }
                    }
                }
            }
        }

        .left {
            gap: 25px;

            .box-search {
                position: relative;

                .btn {
                    border: 0;
                    background: transparent;
                    position: absolute;
                    top: 12px;
                    right: 15px;
                    cursor: pointer;

                    .icon {
                        @media screen and (max-width: 1024px) {
                            display: none;
                        }

                        font-size: 16px;
                        color: $text;
                    }
                }

                .input-search {
                    @media screen and (max-width: 1024px) {
                        display: none;
                    }

                    background: #F3F7FE;
                    border: 1px solid #F3F7FE;
                    padding: 10px 40px 10px 20px;
                    border-radius: 20px;
                    height: 40px;
                    width: 352px;
                    font-size: 14px;
                    color: $text;
                    transition: all 0.3s;

                    &:focus {
                        border: $border;

                        &::placeholder {
                            color: transparent;
                        }
                    }
                }

                .box-search2 {
                    position: absolute;
                    top: 35px;
                    right: -90px;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 4;
                    transition: all 0.3s;

                    .input-search2 {
                        height: 40px;
                        width: 255px;
                        padding: 10px 20px 10px 40px;
                        border: 0;
                        border-radius: 20px;
                        background: #F3F7FE;
                        color: $text;
                        font-size: 14px;
                        transition: all 0.3s;

                        &:focus::placeholder {
                            color: transparent;
                        }
                    }

                    .btnSearch {
                        border: 0;
                        background: transparent;
                        position: absolute;
                        top: 10px;
                        left: 12px;

                        .icon-Left {
                            color: $text;
                            font-size: 16px;
                            font-weight: bold;
                            cursor: pointer;
                            transition: all 0.3s;

                            &:hover {
                                color: $main1;
                            }
                        }
                    }

                    &.active {
                        top: 30px;
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            .access {
                gap: 24px;

                .link {
                    width: 25px;
                    height: 25px;
                    position: relative;

                    .icon {
                        font-size: 27px;
                        color: $main3;
                        transition: all 0.3s;

                        &:hover {
                            color: $main1;
                        }
                    }

                    #phone-call {
                        font-size: 25px;
                    }

                    #card {
                        position: relative;

                        &::after {
                            content: "";
                            width: 8px;
                            height: 8px;
                            display: block;
                            background: $red;
                            position: absolute;
                            right: 0;
                            bottom: 7px;
                            border-radius: 50px;
                        }
                    }

                    .number {
                        width: 15px;
                        height: 14px;
                        border-radius: 50px;
                        display: block;
                        position: absolute;
                        right: -5px;
                        top: 12px;
                        background: #EB4235;
                        color: $white;
                        text-align: center;
                        font-size: 11px;
                        padding: 2px 0;
                    }

                    #search {
                        font-size: 24px;
                        margin-top: 1px;
                    }
                }

                #link-searchBox {
                    @media screen and (max-width: 1024px) {
                        display: block !important;
                    }

                    display: none !important;
                }

                #filter {
                    display: none;
                    margin-bottom: 4px;

                    .icon {
                        font-size: 28px;
                    }
                }
            }

            .user {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50px;
                cursor: pointer;

                .img-user {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/*------------filter Product-------------*/

.filterProduct {
    background-color: #f8fafe;
    height: 82.8%;
    width: 260px;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 70px;
    transform: translateX(275px);
    transition: all .3s;
    z-index: -50;
    opacity: 0;
    display: none;

    .box {
        height: 800px;
        overflow-y: auto;
        direction: ltr;

        &::-webkit-scrollbar-track {
            padding: 2px 0;
            background-color: #e2e1e1;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 4px;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $main3;
            border-radius: 5px;
        }

        .item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-block: 23px;
            align-items: center;
            border-bottom: 1px solid #e9eef6;
            margin-inline: 18px;
            direction: rtl;
            background-color: #fbfbfb;
            cursor: pointer;

            &:last-child {
                border-bottom: unset;
            }

            &:hover {
                .link {

                    .title,
                    .icon {
                        color: $main3;
                    }
                }
            }

            &.active {
                position: sticky;
                top: 0;
                border-color: $main3;

                .link {

                    .title,
                    .icon {
                        color: $main3;
                    }
                }
            }

            .link {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    color: $text;
                    transition: all 0.3s;
                    font-size: 14px;
                }

                .icon {
                    color: $text;
                    transition: all 0.3s;
                    width: 20px;
                    font-size: 19px;
                    transition: transform 0.3s ease;
                }
            }

            .submenu {
                overflow: hidden;
                max-height: 0;
                width: 100%;
                text-align: center;
                transition: max-height 0.3s ease;

                .item-submenu {
                    padding: 12px;
                    background-color: $main3;
                    color: #fff;
                    font-size: 13px;
                    border-bottom: 2px solid;
                    border-radius: 5px;

                    &:hover {
                        background-color: red;
                    }
                }
            }
        }
    }

    &.active {
        opacity: 1;
        z-index: 50;
        transform: translateX(0px);
    }
}