@import '../../../base/variables.scss';
@import '../home/gallery-skills.scss';


.show-product {
    .card {
        @media screen and (max-width: 1024px) {
            padding-inline: 0;
            margin-top: 115px;
        }

        margin-top: 140px;
        // padding-inline: 115px;

        .aProduct {
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center !important;
            }

            gap: 20px;
            position: relative;

            .image-product {
                @media screen and (max-width: 1024px) {
                    max-width: 470px;
                }

                @media screen and (max-width: 768px) {
                    max-width: 100vw;
                }

                width: 100%;
                max-width: 600px;
                min-width: 300px;
                min-height: 200px;
                flex-shrink: 0;
                gap: 16px;

                .big-img {
                    @media screen and (max-width: 1024px) {
                        height: 390px;
                    }

                    @media screen and (max-width: 425px) {
                        height: 300px;
                    }

                    width: 100%;
                    border-radius: 12px;
                    height: 455px;
                    border-radius: 8px;
                    overflow: hidden;

                    .img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // aspect-ratio: 1 / 0.93;
                        border-radius: 12px;
                    }

                    video,
                    iframe {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }

                .gallery {
                    overflow-x: auto;
                    white-space: nowrap;
                    padding-bottom: 10px;
                    width: 100%;
                    gap: 16px;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #f6f6f6;
                    }

                    &::-webkit-scrollbar {
                        width: 1px;
                        height: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #c1c8d5;
                    }

                    .item {
                        @media screen and (max-width: 1024px) {
                            width: 81px;
                        }

                        @media screen and (max-width: 768px) {
                            min-height: 120px;
                            width: 126px;
                        }

                        @media screen and (max-width: 425px) {
                            width: 122px;
                        }

                        width: 107px;
                        height: 100%;
                        min-height: 50px;
                        max-height: 103px;
                        border-radius: 4px;
                        overflow: hidden;
                        cursor: pointer;
                        position: relative;
                        flex-shrink: 0;

                        .img {
                            width: 100%;
                            // height: 100%;
                            object-fit: cover;
                            aspect-ratio: 1 / 1.0;
                            transition: all 0.3s;
                        }

                        .icon {
                            @media screen and (max-width: 375px) {
                                font-size: 30px;
                            }

                            font-size: 35px;
                            color: $white;
                            position: absolute;
                            // top: 32%;
                            // right: 30%;
                            z-index: 2;
                        }

                        &.active {
                            border: 1px solid $main3;
                        }

                        &:last-child {
                            position: relative;

                            &::after {
                                content: "";
                                width: 100%;
                                height: 100%;
                                display: block;
                                z-index: 1;
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: #898989A6;
                            }
                        }

                        &:hover {
                            .img {
                                transform: scale(1.05);
                            }
                        }
                    }
                }

                .product-tags {
                    gap: 10px;
                    width: 100%;
                    flex-wrap: wrap;

                    .item {
                        color: #ABB5C6;
                        background: #F8FAFD;
                        font-size: 13px;
                        padding: 5px 10px;
                        border-radius: 40px;
                        flex-shrink: 0;

                        .icon {
                            vertical-align: -3px;
                            font-size: 16px;
                        }
                    }
                }
            }

            .contact-product {
                flex: 1;
                max-width: 100%;
                min-width: 0;
                gap: 45px;


                .top {
                    @media screen and (max-width: 768px) {
                        margin-top: 25px;
                    }

                    gap: 15px;
                    position: relative;

                    .box {
                        width: 100%;
                        margin: 0;

                        .title {
                            color: $main3;
                            font-size: 18px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            margin: 0;
                        }

                        .catalog {
                            @media screen and (max-width: 725px) {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }

                            flex-shrink: 0;

                            .icon {
                                color: #ABB5C6;
                                font-size: 18px;
                                transition: all 0.3s;
                            }

                            .link {
                                color: $main3;
                                font-size: 14px;
                                border-bottom: 1px solid $main3;
                                transition: all 0.3s;
                            }

                            &:hover {
                                .icon {
                                    color: #626169;
                                }

                                .link {
                                    color: #626169;
                                }
                            }
                        }
                    }

                    p {
                        color: #ABB5C6;
                        font-size: 14px;
                        line-height: 2;
                        text-align: justify;
                    }

                    .bottom {
                        width: 100%;
                        gap: 20px;

                        .score {
                            gap: 5px;

                            .stars {
                                margin-bottom: 1px;

                                .icon {
                                    color: $main3;
                                    font-size: 12px;
                                }
                            }

                            .number {
                                font-size: 14px;
                                color: $main3;
                            }
                        }

                        .opinion {
                            color: $main3;

                            .number {
                                font-size: 14px;
                            }

                            .text {
                                font-size: 14px;
                                margin-left: 1px;
                            }

                            .icon {
                                font-size: 12px;
                                font-weight: bold;
                                margin-bottom: -2px;
                                display: inline-block;
                            }
                        }
                    }
                }

                .center {
                    @media screen and (max-width: 1440px) {
                        width: 100%;
                    }

                    @media screen and (max-width: 768px) {
                        position: fixed;
                        bottom: 70px;
                        right: 0;
                        background: #fff;
                        width: 100%;
                        padding-inline: 4%;
                        padding-block: 6px;
                        z-index: 1;
                        border-top: $border;
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: row !important;
                        justify-content: space-between !important;
                        height: 70px;
                    }

                    width: 490px;
                    gap: 20px;

                    .box {
                        width: 100%;

                        .box-money {
                            .money {
                                color: $main3;
                                font-size: 22px;
                                flex-wrap: nowrap;
                                gap: 5px;

                                .toman {
                                    color: #ABB5C6;
                                    font-size: 14px;
                                    margin-right: 2px;
                                }
                            }

                            .discount {
                                // display: none;
                                color: $red;
                                font-size: 14px;
                                margin-left: 40px;
                            }
                        }


                        .add {
                            @media screen and (max-width: 768px) {
                                display: none !important;
                            }

                            gap: 10px;

                            .text {
                                color: $main3;
                                font-size: 14px;
                            }

                            .product-count {
                                border-radius: 50px;
                                width: 90px;
                                height: 28px;

                                .icon {
                                    color: #ABB5C6;
                                    background: #F3F7FD;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    font-size: 24px;
                                    transition: all 0.3s;

                                    &:hover {
                                        color: $main3;
                                    }
                                }

                                .icon-Minus {
                                    margin-bottom: 0;
                                }

                                .inputNumber {
                                    border: unset;
                                    font-size: 16px;
                                    color: $main3;
                                    margin-bottom: -5px;
                                    background: transparent;
                                }
                            }
                        }

                        .mobile-btnAdd {
                            @media screen and (min-width: 1024px) {
                                display: none !important;
                            }
                            .count {
                                border-radius: 50px;
                                width: 115px;
                                height: 70px;

                                .icon {
                                    color: #ABB5C6;
                                    background: #F3F7FD;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    font-size: 25px;
                                    transition: all 0.3s;

                                    &:hover {
                                        color: $main3;
                                    }
                                }

                                .icon-Minus {
                                    margin-bottom: 0;
                                }

                                .number {
                                    border: unset;
                                    font-size: 17px;
                                    color: $main3;
                                    margin-bottom: -5px;
                                    background: transparent;
                                }
                            }

                            .btn-add {
                                border-radius: 6px;
                                flex-shrink: 0;
                                font-size: 12px;
                                padding: 14px;
                                background: $main3;
                                color: $white;
                                border: 0;
                            }
                        }
                    }

                    .buttons {
                        @media screen and (max-width: 768px) {
                            display: none !important;
                        }

                        gap: 20px;
                        width: 100%;

                        .btn-addProduct,
                        .btn-buyProduct {
                            @media screen and (max-width: 375px) {
                                padding-inline: 2px;
                                font-size: 12px;
                            }

                            border-radius: 6px;
                            flex-shrink: 0;
                            width: 48%;
                            padding: 16px;
                            gap: 10px;
                            cursor: pointer;
                            transition: all 0.3s;

                            .icon {
                                font-size: 14px;
                            }

                            .text {
                                font-size: 14px;
                            }
                        }

                        .btn-addProduct {
                            border: 1px solid $main3;
                            color: $main3;
                            background: transparent;

                            .icon {
                                font-size: 16px;
                            }

                            &:hover {
                                background: $main3;
                                color: $white;
                            }
                        }

                        .btn-buyProduct {
                            background: $main3;
                            color: $white;
                            border: 1px solid $main3;

                            &:hover {
                                border: 1px solid $main3;
                                color: $main3;
                                background: $white;
                            }
                        }
                    }
                }

                .bottom {
                    width: 100%;

                    .features {
                        .question {
                            font-size: 16px;
                            color: $main3;
                            margin-bottom: 20px;
                        }

                        p {
                            color: #ABB5C6;
                            font-size: 14px;
                            margin-bottom: 15px;
                            gap: 8px;

                            .icon {
                                font-size: 18px;
                                color: $main3;
                            }

                            .bold {
                                color: $main3;
                            }
                        }
                    }

                    .desc {
                        @media screen and (max-width: 1024px) {
                            margin-top: 105px;
                            width: 91vw;
                            position: relative;
                            right: -48vw;
                            bottom: 0;
                        }

                        @media screen and (max-width: 768px) {
                            margin-top: 50px;
                            position: static;
                            width: unset;
                        }

                        margin-top: 50px;

                        .box {
                            gap: 20px;
                            margin-bottom: 15px;

                            .title {
                                color: $main3;
                                font-size: 16px;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                margin: 0;
                            }

                            .link {
                                color: $main3;
                                font-size: 14px;
                                border-bottom: 1px solid $main3;
                                transition: all 0.3s;

                                &:hover {
                                    color: #626169;
                                }
                            }
                        }

                        p {
                            font-size: 14px;
                            color: #ABB5C6;
                            padding-right: 25px;
                            margin-bottom: 20px;
                            position: relative;
                            line-height: 1.5;

                            &::after {
                                content: "";
                                display: block;
                                width: 5px;
                                height: 5px;
                                border-radius: 50px;
                                background: #ABB5C6;
                                position: absolute;
                                right: 8px;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }

        .spare-parts {
            margin-top: 50px;

            .title {
                font-size: 16px;
                color: $main3;
            }

            .bottom {
                width: 100%;

                .scroll-specialProduct {
                    margin-top: 20px;
                    gap: 20px;
                    padding-block: 10px;
                    padding-inline: 0;
                    overflow-x: auto;
                    transition: all 0.3s;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .row-product {
                        gap: 20px;
                        scroll-snap-align: start;
                        flex-shrink: 0;

                        .item {
                            border: $border;
                            border-radius: 12px;
                            width: 100%;
                            max-width: 320px;
                            min-width: 300px;
                            height: 100px;
                            padding: 2px;

                            .image {
                                width: 45%;
                                height: 94px;
                                overflow: hidden;
                                border-radius: 12px;

                                .img {
                                    width: 100%;
                                    object-fit: cover;
                                    aspect-ratio: 1 / 1.1;
                                }
                            }

                            .content {
                                width: 100%;
                                height: 100%;
                                gap: 16px;
                                padding: 7px 10px 7px 10px;

                                .top {
                                    .title {
                                        color: $main3;
                                        font-size: 15px;
                                    }

                                    .score {
                                        color: $text;
                                        font-size: 15px;

                                        .icon {
                                            color: $main3;
                                            font-size: 12px;
                                        }
                                    }
                                }

                                .bottom {
                                    gap: 5px;

                                    .money {
                                        font-size: 15px;
                                        color: $main3;

                                        .toman {
                                            color: $text;
                                            font-size: 12px;
                                        }
                                    }

                                    .discount {
                                        color: $red;
                                        font-size: 14px;
                                        margin-left: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .box-desc {
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            gap: 20px;
            margin-top: 60px;

            .desc-product {
                @media screen and (max-width: 768px) {
                    max-width: 100%;
                }

                width: 100%;
                max-width: 600px;
                min-width: 300px;
                min-height: 200px;

                .title {
                    color: $main3;
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 14px;
                    color: #ABB5C6;
                    line-height: 2.5;
                    text-align: justify;

                    .size {
                        display: block;
                    }
                }
            }

            .opinion-box {
                border: 1px solid $main3;
                border-radius: 12px;
                padding: 10px 15px;
                flex: 1;

                .content {
                    .title {
                        color: $main3;
                        font-size: 16px;
                        margin-bottom: 15px;
                    }

                    .desc {
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }

                        font-size: 14px;
                        color: #ABB5C6;
                        line-height: 2;
                        text-align: justify;
                        // width: 500px;
                    }
                }

                .form {
                    flex-wrap: wrap;
                    gap: 15px;
                    margin-top: 20px;

                    .input_box {
                        position: relative;
                        flex: 1 1 calc(50% - 8px);
                        min-width: 200px;

                        input,
                        textarea {
                            border: 1px solid $main3;
                            border-radius: 12px;
                            color: $main3;
                            font-size: 13px;
                            padding: 17px 12px;
                            transition: all 0.3s;
                            width: 100%;
                        }

                        textarea {
                            height: 120px;
                            resize: none;
                        }
                    }

                    .textarea_box {
                        flex: 1 1 100%;
                    }

                    .box-code,
                    .submit {
                        flex: 1 1 calc(50% - 8px);
                        min-width: 200px;
                    }

                    .box-code {
                        border: 1px solid $main3;
                        border-radius: 12px;
                        width: max-content;
                        margin-inline: auto;
                        height: 55px;
                        padding: 10px;

                        .code {
                            padding-inline: 5px;
                            margin-right: 5px;
                            mix-blend-mode: multiply;
                            width: 60px;
                            margin-bottom: -5px;
                        }

                        .input {
                            width: 100%;
                            padding-block: 3px;
                            font-size: 13px;
                            padding-inline: 10px;
                            text-align: center;
                            border: 0;
                            border-radius: 0;
                            margin-bottom: -5px;
                            border-left: 1px solid #ABB5C6;
                        }
                    }

                    .submit {
                        width: 100%;
                        cursor: pointer;
                        background-color: #3D3C45;
                        border: none;
                        color: #fff;
                        font-size: 14px;
                        padding-block: 19px;
                        border-radius: 12px;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .gallery-skills .card .content {
        margin-bottom: 140px;
    }
}