@font-face {
  font-family: dana;
  font-weight: 600;
  src: url("/fonts/woff/Dana-Regular.woff") format('woff'), url("/fonts/woff2/Dana-Medium.woff2") format('woff2');
  font-family: dana;
  font-weight: 900;
  src: url("/fonts/woff/Dana-Medium.woff") format('woff'), url("/fonts/woff2/Dana-Medium.woff2") format('woff2');
}


/*-----------Icomoon------------*/

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icon/icomoon.eot?prmts8');
  src: url('/fonts/icon/icomoon.eot?prmts8#iefix') format('embedded-opentype'),
    url('/fonts/icon/icomoon.ttf?prmts8') format('truetype'),
    url('/fonts/icon/icomoon.woff?prmts8') format('woff'),
    url('/fonts/icon/icomoon.svg?prmts8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e921";
}

.icon-bag:before {
  content: "\e935";
}

.icon-box:before {
  content: "\e911";
}

.icon-Left-Arrow:before {
  content: "\e90e";
}

.icon-Right-Arrow:before {
  content: "\e91f";
}

.icon-Up-Arrow:before {
  content: "\e926";
}

.icon-Down-Arrow:before {
  content: "\e92f";
}

.icon-Left:before {
  content: "\e915";
}

.icon-Right:before {
  content: "\e920";
}

.icon-Up:before {
  content: "\e927";
}

.icon-Down:before {
  content: "\e930";
}

.icon-Minus:before {
  content: "\e918";
}

.icon-Plus:before {
  content: "\e91d";
}

.icon-building:before {
  content: "\e91b";
}

.icon-Phone-call:before {
  content: "\e91c";
}

.icon-delivery:before {
  content: "\e92e";
}

.icon-Setting2:before {
  content: "\e923";
}

.icon-User:before {
  content: "\e924";
}

.icon-Like:before {
  content: "\e916";
}

.icon-Trush:before {
  content: "\e925";
}

.icon-filter:before {
  content: "\e932";
}

.icon-eay-hide:before {
  content: "\e931";
}

.icon-Data:before {
  content: "\e92d";
}

.icon-info:before {
  content: "\e901";
}

.icon-key:before {
  content: "\e906";
}

.icon-Math:before {
  content: "\e917";
}

.icon-Nal:before {
  content: "\e919";
}

.icon-Required:before {
  content: "\e91e";
}

.icon-Run:before {
  content: "\e922";
}

.icon-verified:before {
  content: "\e928";
}

.icon-Camera:before {
  content: "\e929";
}

.icon-days:before {
  content: "\e92a";
}

.icon-Art:before {
  content: "\e92b";
}

.icon-Catalog:before {
  content: "\e92c";
}

.icon-Flash:before {
  content: "\e933";
}

.icon-tools:before {
  content: "\e91a";
}

.icon-location:before {
  content: "\e934";
}

.icon-search2:before {
  content: "\e914";
}

.icon-setting:before {
  content: "\e910";
}

.icon-arrow-back:before {
  content: "\e912";
}

.icon-card:before {
  content: "\e913";
}

.icon-Instagram:before {
  content: "\e905";
}

.icon-Linkedin:before {
  content: "\e907";
}

.icon-Play:before {
  content: "\e908";
}

.icon-Search:before {
  content: "\e909";
}

.icon-Star:before {
  content: "\e90a";
}

.icon-Telegram:before {
  content: "\e90b";
}

.icon-Aparat:before {
  content: "\e90c";
}

.icon-berthday:before {
  content: "\e90d";
}

.icon-Facebook:before {
  content: "\e90f";
}

.icon-Ring:before {
  content: "\e900";
}

.icon-Card:before {
  content: "\e902";
}

.icon-Logo::after {
  content: "\e903";
  color: rgb(11, 87, 208);
}

.icon-Logo::before {
  content: "\e904";
  margin-left: -0.9375em;
  color: rgb(255, 191, 0);
}