$main1: #FFBF00;
$main2: #0B57D0;
$main3: #3D3C45;

$text: #707070;

$block: #000;
$white: #fff;
$red: #D52315;

$other1: #E9EEF6;
$other2: #55545e;
$other3: #F3F7FE;

$border: 1px solid #f1f1f1;









