.filter-slider {
    width: 100%;
    min-height: 470px;
    background: #F8F8F8;
    margin-top: 180px;

    .card {
        width: 57%;
        padding: 20px;
        gap: 35px;

        .tab-content {
            width: 100%;

            .filter {
                gap: 10px;
                width: 85%;

                .text {
                    font-size: 15px;
                    color: #3D3C45;
                    width: 70px;
                }

                .items {
                    gap: 10px;
                    width: 100%;
                    overflow-x: auto;
                    white-space: nowrap;
                    padding-bottom: 10px;
                    padding-left: 2px;
                    margin-bottom: -10px;

                    &::-webkit-scrollbar-track {
                        padding: 2px 0;
                        background-color: #f6f6f6;
                    }

                    &::-webkit-scrollbar {
                        width: 1px;
                        height: 3px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        background-color: #c1c8d5;
                    }

                    .item {
                        color: #3D3C45;
                        font-size: 14px;
                        padding: 8px 18px;
                        border-radius: 20px;
                        border: 1px solid #3D3C45;
                        cursor: pointer;
                        transition: all 0.3s;

                        &.active {
                            background: #3D3C45;
                            color: #fff;
                        }

                        &:hover {
                            background: #3D3C45;
                            color: #fff;
                        }
                    }
                }
            }

            .all-product {
                color: #0B57D0;
                cursor: pointer;
                font-size: 15px;
                transition: all 0.3s;

                &:hover {
                    color: #3D3C45;
                }

                .icon {
                    font-size: 14px;
                }
            }
        }

        .slider {
            gap: 16px;
            width: 100%;
            overflow: hidden;
            display: none !important;

            &.active {
                display: flex !important;
            }

            .item {
                width: 270px;
                min-height: 360px;
                gap: 10px;
                padding: 10px;
                background-color: #fff;
                border-radius: 8px;

                .image-slider {
                    width: 250px;
                    height: 285px;
                    border-radius: 8px;
                    overflow: hidden;

                    .img {
                        object-fit: cover;
                        width: 100%;
                        aspect-ratio: 1 / 1.2;
                    }
                }

                .content {
                    padding-inline: 10px;
                    width: 100%;

                    .top {
                        margin-bottom: 12px;

                        .title {
                            color: #3D3C45;
                            font-size: 15px;
                        }

                        .money {
                            color: #3D3C45;
                            font-size: 15px;

                            .toman {
                                color: #ABB5C6;
                                font-size: 13px;
                            }
                        }
                    }

                    .bottom {
                        .score {
                            font-size: 13px;
                            color: #ABB5C6;

                            .icon {
                                font-size: 12px;
                                color: #3D3C45;
                            }
                        }

                        .gender {
                            font-size: 13px;
                            color: #ABB5C6;
                            gap: 5px;

                            .age {
                                font-size: 13px;
                                color: #ABB5C6;
                            }

                            .icon {
                                font-size: 15px;
                                color: #3D3C45;
                            }
                        }
                    }
                }
            }
        }
    }

    .box-image {
        width: 700px;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
        }
    }
}